*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --main-color: #0063d1;
    --border-color: #ebebeb;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
}

body {
    font-family: Rubik, Arial, Helvetica, sans-serif;
    line-height: 1.6rem;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
    margin: 0;
}

body {
    min-height: 100vh;
    line-height: 1.5;
}

img,
picture {
    display: block;
    max-width: 100%;
}

img {
    vertical-align: middle;
}

button {
    border: none;
    box-shadow: none;
    outline: none;
    cursor: pointer;
}

a,
button {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    text-decoration: none;
}


/* remove animation for people who've turned them off */

@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}


/* General */

.btn-primary {
    background-color: var(--main-color);
    color: #fff;
    border-radius: 0 4px 4px 0;
    padding: 10px 15px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.btn-primary:hover {
    background-color: #004b9e;
}


/* header */

.wrapper-app {}

.header-wrapper {}

.top-header {
    background: #f8f9f9;
    display: flex;
    justify-content: space-between;
    color: #929292;
    font-size: 1.4rem;
    margin: 0 -100px;
    padding: 0 100px;
    border-bottom: 1px solid var(--border-color);
}

.top-header__txt {
    line-height: 4.5rem;
}

.top-header-contact {}

.top-header-contact__content {}

.top-header-account {
    display: flex;
    position: relative;
}

.top-header-account__item a {
    color: #929292;
}

.top-header-account__item a:hover {
    color: var(--main-color);
}

.top-header-account__item {
    position: relative;
}

.top-header-account__item:first-child {
    padding-right: 20px;
}

.top-header-account__item:last-child {
    padding-left: 20px;
}

.top-header-account__item:first-child::after {
    position: absolute;
    content: "";
    width: 1px;
    height: 12px;
    background: #777;
    top: 50%;
    margin-left: 20px;
    transform: translateY(-50%);
}

.main-header {
    display: flex;
    align-items: center;
    padding: 25px 0;
    justify-content: space-between;
    align-items: stretch;
}

.logo-header {
    width: 25%;
    align-self: center;
}

.logo-header__img {
    width: 162px;
}

.search-header-site {
    display: flex;
    align-items: center;
}

.search-header-site__select {
    position: relative;
}

.search-header-site__select::before {
    position: absolute;
    content: '';
    top: 50%;
    right: 0;
    width: 1px;
    height: 26px;
    transform: translateY(-50%);
    background: var(--border-color);
}

.search-header-site__selected {
    position: relative;
    padding: 0 20px;
    width: 175px;
    height: 50px;
    line-height: 50px;
    border-bottom: 2px solid var(--border-color);
    border-top: 2px solid var(--border-color);
    border-left: 2px solid var(--border-color);
    cursor: pointer;
    text-align: center;
    font-size: 1.4rem;
    color: #363f4d;
}

.search-header-site__selected:hover {
    color: var(--main-color);
}

.search-header-site__selected::before {
    position: absolute;
    top: 50%;
    right: 20px;
    font-size: 1rem;
    transform: translateY(-50%);
    content: '\f078';
    font-family: "Font Awesome 5 Pro";
}

.search-header-dropdown {
    display: none;
    position: absolute;
    border: 1px solid var(--border-color);
}

.search-header-dropdown .is-show {
    display: block;
}

.search-header-list {
    max-height: 300px;
    min-width: 215px;
    overflow-y: auto;
    padding: 15px 20px;
}

.search-header-item:hover {
    color: var(--main-color);
    cursor: pointer;
}

.search-header-item+.search-header-item {
    margin-top: 15px;
}

.search-header-item {
    color: #999;
    font-size: 1.4rem;
}

.search-header-list__list {
    margin-left: 20px;
}

.search-header-list__item+.search-header-list__item {
    margin-top: 5px;
}

.search-header-form {
    display: flex;
    --height: 50px;
}

.search-header-form__input {
    height: var(--height);
    border: 0;
    border-bottom: 2px solid var(--border-color);
    border-top: 2px solid var(--border-color);
    outline: none;
    width: 300px;
    padding: 0 20px;
}

.search-header-form__input::placeholder {
    color: #a4a4a4;
    font-size: 1.4rem;
    font-weight: 400;
    font-family: Rubik, Arial, Helvetica, sans-serif;
}

.search-header-form__input:focus::placeholder {
    color: transparent;
}

.search-header-form__btn {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0.05rem;
}

.search-header-form__btn {
    min-width: 120px;
    height: var(--height);
}

.cart-wishlist {}

.cart-wishlist__list {
    display: flex;
    align-items: center;
    height: 100%;
}

.cart-wishlist__item {
    position: relative;
    height: 100%;
}

.cart-wishlist__item:hover .cart-dropdown {
    display: block;
}

.cart-wishlist__item:hover .cart-wishlist__link {
    color: var(--main-color);
}

.cart-wishlist__item:hover .cart-wishlist__cart::before {
    color: var(--main-color);
}

.cart-wishlist__link {
    display: flex;
    align-items: center;
    color: #292929;
    position: relative;
    height: 100%;
}

.cart-wishlist__cart {
    padding-right: 18px;
}

.cart-wishlist__cart::before {
    position: absolute;
    content: '\f078';
    color: #aaa;
    font-family: "Font Awesome 5 Pro";
    font-size: 1rem;
    font-weight: 500;
    top: 50%;
    transform: translateY(-50%);
    right: 0px;
}

.cart-wishlist__price-wrapper {
    font-weight: 500;
    font-size: 1.4rem;
    margin-left: 5px;
}

.cart-wishlist__price {}

.cart-wishlist__img {
    font-size: 2rem;
    color: inherit;
}

.cart-wishlist__item:first-child {
    margin-right: 40px;
}

.cart-wishlist__quantity {
    position: absolute;
    top: 0;
    left: -18px;
    background: var(--main-color);
    width: 22px;
    height: 22px;
    border-radius: 50%;
    color: #fff;
    line-height: 22px;
    text-align: center;
    font-size: 1.2rem;
}


/* Cart dropdown */

.cart-dropdown {
    position: absolute;
    display: none;
    top: 100%;
    right: 0;
    animation-name: topToDown;
    animation-duration: 0.5s;
    overflow: hidden;
    z-index: 999;
}

.cart-dropdown__site {
    background: #fff;
    border: 1px solid var(--border-color);
    width: 360px;
}

.cart-dropdown-list {
    margin: 10px 0px 0 30px;
    max-height: 320px;
    overflow-y: scroll;
}

.cart-dropdown-list::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background: var(--main-color);
}

.cart-dropdown-list::-webkit-scrollbar-track {
    -webkit-border-radius: 0px;
    border-radius: 0px;
}

.cart-dropdown-list::-webkit-scrollbar {
    width: 2px;
}

.cart-dropdown-item {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    border-bottom: 1px solid #d6d6d6;
    padding: 12px 0;
    margin-right: 30px;
}

.cart-dropdown-item__link {
    display: inline-block;
    margin-right: 15px;
}

.cart-dropdown-item__link:hover .cart-dropdown-item__img {
    border: 1px solid var(--main-color);
}

.cart-dropdown-item__img {
    width: 90px;
    height: 90px;
    border: 1px solid transparent;
}

.cart-dropdown-item__txt {
    flex: 1;
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
}

.cart-dropdown-item__desc {
    color: #000;
    font-size: 1.4rem;
    line-height: 1.2;
    margin-bottom: 2px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    text-overflow: ellipsis;
    overflow: hidden;
}

.cart-dropdown-item__desc:hover {
    color: var(--main-color);
}

.cart-dropdown-item__info {
    margin-top: 4px;
}

.cart-dropdown-item__quantity {}

.cart-dropdown-item__price-wrapper {
    font-weight: 600;
}

.cart-dropdown-item__remove-img {
    font-size: 2rem;
    cursor: pointer;
    color: #000;
    padding: 2px;
}

.cart-dropdown-item__remove-img:hover {
    color: var(--main-color);
}

.cart-dropdown-item__price {}

.cart-dropdown__total {
    margin: 10px 30px 0 30px;
    font-size: 1.6rem;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
}

.cart-dropdown__total-title {}

.cart-dropdown__total-price {}

.cart-dropdown__list-btn {
    --background-color: #eef0f1;
    --border-color: #e1e1e1;
    --text-color: #323232;
    margin: 10px 30px 20px 30px;
}

.cart-dropdown__btn+.cart-dropdown__btn {
    margin-top: 10px;
}

.cart-dropdown__btn {
    display: flex;
    text-transform: uppercase;
    background: var(--background-color);
    color: var(--text-color);
    height: 45px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    font-size: 1.3rem;
    font-weight: 500;
    align-items: center;
    justify-content: center;
}

.cart-dropdown__btn:hover {
    background: var(--main-color);
    color: #fff;
}


/* navbar */

.navbar-header {}

.navbar-header-wrapper {
    margin: 0 -100px;
    padding: 0 100px;
    background: var(--main-color);
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    text-transform: uppercase;
    color: #fff;
    font-weight: 500;
}

.navbar-header-categories {
    width: 25%;
}

.navbar-header-categories__title-wrapper {
    position: relative;
    background: #1953b4;
    height: 100%;
    line-height: 30px;
    padding: 13px 30px;
}

.navbar-header-categories__title::before {
    position: absolute;
    content: '\f0c9';
    font-family: "Font Awesome 5 Pro";
    right: 20px;
}

.navbar-header-categories__dropdown {}

.header-categories-list {}

.header-categories-item {}

.navbar-header-categories-item__list {}

.navbar-header-categories-item__item {}

.navbar-header-nav {}

.navbar-list {
    display: flex;
    margin-left: 50px;
}

.navbar-list-item {
    padding: 13px 0;
    position: relative;
}

.navbar-list-item+.navbar-list-item {
    margin-left: 40px;
}

.navbar-list__link {
    display: block;
    color: #fff;
    line-height: 3rem;
    display: block;
    position: relative;
    position: relative;
}

.navbar-list-item:hover .navbar-list__link {
    color: #fff;
}

.active .navbar-list__link::before {
    position: absolute;
    display: block;
    content: '';
    height: 2px;
    left: 0;
    width: 100%;
    top: 100%;
    background-color: #fff;
}

.navbar-list-item:hover .navbar-list__link::before {
    left: 0;
    right: 0;
    width: 100%;
}

.navbar-list__link::before {
    position: absolute;
    display: block;
    content: '';
    left: 50%;
    right: 50%;
    height: 2px;
    width: 0;
    top: 100%;
    background-color: #fff;
    transition: .3s ease;
}


/* dropdown nav list */

.navbar-list-dropdown {
    top: 100%;
    position: absolute;
    background: #fff;
    border: 1px solid var(--border-color);
    box-shadow: 0px 0px 12px -5px rgb(0, 0, 0, 0.3);
    color: #333;
    padding: 20px 30px 20px;
    border-radius: 0 0 5px 5px;
    transform: rotateX(100deg)
}

.navbar-list-item__list {}

.dropdown-home {
    width: 240px;
}

.navbar-list-item__list-item-link.active {
    color: var(--main-color);
}

.navbar-list-item__list-item-link:hover {
    color: var(--main-color);
}

.navbar-list-item__list-item-link {
    display: block;
    color: #777;
    text-transform: none;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 3.5rem
}


/* animation */

@keyframes topToDown {
    from {
        height: 0;
    }
    to {
        height: 450px;
    }
}